@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
:root{
    --lang :"Red Hat Display";
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    margin: 0 auto;
    max-width: 1440px; 
    height:1899px;
    width:100%;
    background-color: #FAFAFA;
}
.logo{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;

}
.header_cont{
    margin-top: 64px;
    height: 488px;
    display: flex;
    
}
.left_image_cont{
    width: 394px;
    height: 303px;
    position: relative;
}
#l3{
    position:absolute;
    right:0;
    top:55PX;
}
#l1{
    position: absolute;
    top:55px;
    left:0;
}
#l2{
    position: absolute;
    top:0;
    left:125px;
}
#l4{
    position: absolute;
    left:0;
    bottom: 0;
}
#l5{
    position: absolute;
    left:125px;
    top:138px;
}
#l6{
    position:absolute;
    right: 0;
    top:193px;
}
.header_text{
    margin-top: 24px;
    margin-left: 127px;
    width: 448px;
    height: 314px;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
h1{
    font-family: var(--lang);
    font-weight: 900;
    font-size: 64px;
    line-height: 110%;
    text-align: center;
    color:#28283D;
}
p{
    
    width:420px;
    padding-top: 32px;
    font-family: var(--lang);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color:#87879D;
}
#download{
    text-decoration: none;
    font-family: var(--lang);
    font-weight: 900;
    font-size: 16px;
    line-height: 150%;
    color:white;
    border-radius: 29px;
    padding: 16px 40px;
    width: 193px;
    height: 56px;
    background-color: #4D96A9;
    transition: 0.5s;
}
.buttons{
    padding-top: 48px;
}
#about{
    text-decoration: none;
    font-family: var(--lang);
    font-weight: 900;
    font-size: 16px;
    line-height: 150%;
    color: white;
    border-radius: 29px;
    padding: 16px 40px;
    width: 193px;
    height: 56px;
    background-color: #855FB1;
    transition: 0.5s;
}
#about:hover, #download:hover{
    opacity: 0.8;
    
}
span{
    color:#8FE3F9
}
.right_image_cont{
    width: 394px;
    height: 303px;
    position: relative;
    margin-left: 127px;
    margin-top: 57px;
}
#r2{
    position: absolute;
    top:55px;
    padding-left: 32px;
    
}
#r3{
    position:absolute;
    right:0;
    top:0;
}
#r6{
    position: absolute;
    bottom: 55px;
    right: 0;
}
#r4{
    position: absolute;
    left: 0;
    bottom: 55px;
}
#r5{
    position: absolute;
    bottom:0;
    padding-left: 32px;
}
.main_content{
    max-width: 1120px;
    width:100%;
    margin: 0 auto;
    height: 755px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grid_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:2rem;
    max-width: 1120px;
    width:100%;
    height: 256px;
    
}
.main_info{
    height: 235px;
    max-width: 544px;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
}
.upperp{
    font-family: var(--lang);
    font-weight: 900;
    font-size: 16px;
    line-height: 110%;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color:#4D96A9;
    padding: 0;
}
h2{
    width:445px;
    font-family: var(--lang);
    font-weight: 900;
    font-size: 40px;
    line-height: 110%;
    text-align: center;
    color:#28283D;
    margin-top: 16px;
}
.mainp{
    max-width:544px;
    width:100%;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    font-family: var(--lang);
    color:#87879D;
    padding: 0;
    margin-top: 32px;
}
#numimg{
    margin-bottom: 64px;
}
.footer_cont{
    max-width: 1440px;
    width:100%;
    height: 420px;
    position: relative;
   
}
.footer_bg{
    width: 100%;
    max-width: 1440px;
    height: 312px;
    background-image: url(images/footerbg.png);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:215px;
}
.footerinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88px;
    max-width: 1120px;
    width:100%;
   
}
#numimg2{
    position: absolute;
    padding-left: 693px;
    top: 95px;
    z-index: 1;
    
}
#footerh{
    text-align: left;
    font-family: var(--lang);
    font-weight: 900;
    font-size: 40px;
    line-height: 110%;
    color: white;
}
#footerp{
    width:355px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    font-family: var(--lang);
    color:white
}
#downloadb{
    text-decoration: none;
    font-family: var(--lang);
    font-weight: 900;
    font-size: 16px;
    line-height: 150%;
    color:white;
    border-radius: 29px;
    padding: 16px 40px;
    width: 193px;
    height: 56px;
    background-color: #855FB1;
    transition: 0.5s;
    margin-left: 92px;
}
#downloadb:hover{
    opacity: 0.8;
}
#sp{
    color:white;
    opacity: 0.9;
}
